<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vocab Note</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="goToAddVocab()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-spinner [ngClass]="{'active': isLoading }" class="myspinner" color="primary"></ion-spinner>
  <ion-list>
	  <button ion-item *ngFor="let vocab of vocabs" (press)="presentWordAction(vocab)" (click)="goToShowVocab(vocab)">
	    <h2>{{ vocab.word }}</h2>
	    <h3>{{ vocab.meaning }}</h3>
	  </button>
  </ion-list>

  <div class="center-block" *ngIf="vocabs == 0">
  	<h2 class="text-center text-lightblack reduce-left">There are no words</h2>
  </div>
</ion-content>
