<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Vocab note</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
	  <ion-item *ngFor="let vocab of vocabs">
	    <h2>{{ vocab.word }}</h2>
	    <h3>{{ vocab.meaning }}</h3>
	  </ion-item>
  </ion-list>

  <div class="no-words" *ngIf="vocabs == 0">
  	<h2 class="text-center text-lightblack reduce-left">There are no words</h2>
  </div>
</ion-content>
