page-signin {
	.logo {
		font-family: 'Raleway', 'sans-serif'; 
		font-size: 2.25em;
		font-weight: 700; 
		line-height: 2.7; 
		margin: 0 0 24px; 
		text-align: center; 
		text-transform: uppercase; 
	}

	.register-button {
		margin-top: 0.3em;
		background: transparent;
	}
}