<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Vocab</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="updateVocabForm" (submit)="updateVocab()" novalidate="">
      <ion-list>
        <ion-item>
          <ion-label stacked>Word *</ion-label>
          <ion-input type="text" formControlName="word"></ion-input>
        </ion-item>
        <div>
          <ion-item *ngFor="let errors of formErrors.word"> 
            <p color="danger">{{ errors }}<p>
          </ion-item>
        </div>

        <ion-item>
          <ion-label stacked>Meaning *</ion-label>
          <ion-input type="text" formControlName="meaning"></ion-input>
        </ion-item>
        <div>
          <ion-item *ngFor="let errors of formErrors.meaning"> 
            <p color="danger">{{ errors }}<p>
          </ion-item>
        </div>

        <ion-item>
          <ion-label stacked>Example</ion-label>
          <ion-textarea rows="3" formControlName="example"></ion-textarea>
        </ion-item>
        <div>
          <ion-item *ngFor="let errors of formErrors.example"> 
            <p color="danger">{{ errors }}<p>
          </ion-item>
        </div>

        <ion-input [hidden]="true" type="hidden" formControlName="id"></ion-input>
    </ion-list>

    <div *ngIf="error">
      <p color="danger" class="text-center">{{ error }}</p>
    </div>

    <div padding>
      <button ion-button block color="primary" type="submit" [disabled]="isSubmit">Update Vocab</button>
    </div>
  </form>
</ion-content>